[submodule "TilEm-Mirror"]
	path = TilEm-Mirror
	url = https://github.com/pateltej/TilEm-Mirror.git
[submodule "ArTICL"]
	path = ArTICL
	url = https://github.com/KermMartian/ArTICL.git
[submodule "basically-ti-basic"]
	path = basically-ti-basic
	url = https://github.com/thenaterhood/basically-ti-basic.git
